.booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
  
.booking__container form {
    padding-left: 250px;
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.booking__container .input__group {
    width: 100%;
    position: relative;
}
.booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
}
.booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #edebeb;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
}
.booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
}
.booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
}
.booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.booking__container .btn:hover {
    background-color: var(--primary-color-dark);
}
.booking-room{
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background: #f9df69;
}
.book-style{
    display: flex;
    padding-top: 20px;
}
.book-roomtype h3{
    font-weight: 600;
    padding-left: 30px;
}
.book-roomtype p{
    padding-left: 30px;
    width: 100%;
}
.book-room-img{
    text-align: left;
    width: 500px;
    height: 300px;
}
.book-room-btn{
    display: inline-block;
    text-decoration: none;
    color: #080808;
    border: 1px solid #606060;
    text-align: center;
    width: 150px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}