*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.login-btn{
    background: transparent;
    text-align: right;
    position: relative;
}
.login{
    display: inline-block;
    text-decoration: none;
    color: #080808;
    border: 1px solid #606060;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.login:hover{
    border: 1px solid #000000;
    background: #f9df69;
    transition: 1s;
}
.header{
   min-height: 120vh; 
   width: 100%;
   background-image: linear-gradient(rgba(13, 21, 56, 0.7),rgba(13, 21, 56, 0.7)),url(image/img2.png);
   background-position: center;
   background-size: cover;
   position: relative;
}
.header-main{
    min-height: 10vh;
    width: 100%;
    background: rgb(255,190,8);
}
img.logo-img{
    height: auto;
    width: 200px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}
.hero-bth{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-bth:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
.about{
    background: rgb(255,190,8);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.abt-main h3{
    text-align: center;
    font-weight: 600;
    margin: 30px ;
    padding-left: 50px;
}
.abt-main p{
    text-align: center;
    padding-left: 250px;
    width: 50%;
}
.abtus-img{
    text-align: right;
    width: 300px;
    height: 300px;
}
.acommodation{
    background: #ffd23c;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.room{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.roomtype{
    margin: auto;
    text-align: center;
}
.roomtype p{
    text-align: left;
    width: 30%;
    padding: 0 100px;
    background: #f1dc97;
}
.room-img{
    height: 310px;
    width: 310px;
}
.contact-main{
    background: #fefefe;
    margin-bottom: auto;
    padding: 50px 100px;
    box-sizing: border-box;
}
.contact-us{
    background: #ffd23c;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
}
.contact-text p{
    margin: auto;
    text-align: center;
    width: 400px;
}
.contact-btn{
    margin: auto;
    width: 200px;
}
.footer{
    background: #ffd23c;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}